In [34]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers=['^CNXIT','^IXIC','^BSESN','^GDAXI']
mydata=pd.DataFrame()
for t in tickers:
    mydata[t]=wb.DataReader(t,data_source='yahoo',start='2015-1-1')['Adj Close']

sec_return=np.log(mydata/mydata.shift(1))
sec_return

              ^CNXIT     ^IXIC    ^BSESN    ^GDAXI
Date
2015-01-02       NaN       NaN       NaN       NaN
2015-01-05 -0.010924 -0.015831 -0.001636 -0.030314
2015-01-06 -0.025996 -0.012943 -0.031185 -0.000370
2015-01-07 -0.004014  0.012491 -0.002918  0.005111
2015-01-08  0.009314  0.018265  0.013506  0.033009
...              ...       ...       ...       ...
2022-10-06  0.015582 -0.009268  0.002694 -0.015887
2022-10-07 -0.007012 -0.038752 -0.000529 -0.015987
2022-10-10  0.010545 -0.010409 -0.003446 -0.000005
2022-10-11 -0.020113 -0.011056 -0.014657 -0.004302
2022-10-12  0.008163 -0.000490  0.008340 -0.003935

[1627 rows x 4 columns]

CALCULATING COVARIANCE AND CORRELATION

In [35]:
PG_var=sec_return['^CNXIT'].var()
print(PG_var)

BEI_var=sec_return['^IXIC'].var()
print(BEI_var)

AAPL_var=sec_return['^BSESN'].var()
print(AAPL_var)

MSFT_var=sec_return['^GDAXI'].var()
print(MSFT_var)

0.007468299605143328
0.00022659993418975113
0.00014187741541303006
0.00019153335060106505

Annualised covariance

In [36]:
PG_var_a=sec_return['^CNXIT'].var()*250
print(PG_var_a)

BEI_var_a=sec_return['^IXIC'].var()*250
print(BEI_var_a)

AAPL_var_a=sec_return['^BSESN'].var()*250
print(AAPL_var_a)

MSFT_var_a=sec_return['^GDAXI'].var()*250
print(MSFT_var_a)

1.867074901285832
0.056649983547437784
0.035469353853257515
0.04788333765026626

COVARIANCE MATRIX

In [37]:
cov_matrix= sec_return.cov()
print(cov_matrix)

cov_matrix_a= sec_return.cov()*250
print(cov_matrix_a)

          ^CNXIT     ^IXIC    ^BSESN    ^GDAXI
^CNXIT  0.007468  0.000381  0.000255  0.000403
^IXIC   0.000381  0.000227  0.000057  0.000121
^BSESN  0.000255  0.000057  0.000142  0.000081
^GDAXI  0.000403  0.000121  0.000081  0.000192
          ^CNXIT     ^IXIC    ^BSESN    ^GDAXI
^CNXIT  1.867075  0.095197  0.063715  0.100705
^IXIC   0.095197  0.056650  0.014254  0.030271
^BSESN  0.063715  0.014254  0.035469  0.020189
^GDAXI  0.100705  0.030271  0.020189  0.047883

CORRELATION MATRIX

In [38]:
Corr_matrix=sec_return.corr()
Corr_matrix

          ^CNXIT     ^IXIC    ^BSESN    ^GDAXI
^CNXIT  1.000000  0.286274  0.247439  0.331842
^IXIC   0.286274  1.000000  0.314437  0.573710
^BSESN  0.247439  0.314437  1.000000  0.488382
^GDAXI  0.331842  0.573710  0.488382  1.000000